/* =============
    Contact Stripe
============= */

.contactstripe{

    @include md{
        display:grid;
        grid-template-columns: 15px 1fr 1fr 15px;
        grid-template-areas: ". box-1 box-2 .";
        padding: 15px 15px 15px;
    }

    @include xl{
        grid-template-columns: auto 570px 570px auto;
        padding: 225px 15px 225px;
    }

    @include xxl{
        grid-template-columns: auto 660px 660px auto;
    }

    .container{

        @include xl{
            grid-template-columns: 16px auto 16px;
        }

        &.box-1{
            background-color: #E9E4D7;
            @include md{
                grid-area: box-1;
            }
        }

        &.box-2{
            background-color: #E9E4D7;
            @include md{
                grid-area: box-2;
            }
        }

        .content{
            display:grid;
            grid-template-columns: 50% 50%;
            grid-template-areas: "h2 img" "a img";
            
            h2{
                grid-area: h2;
            }
    
            a{
                grid-area: a;
            }
    
            img{
                grid-area: img;
            }
        }
    }
}