/* =============
    Header
============= */

header{

    background-color: $black;

    .content{

        div{
            margin: 20px 0 20px 0px;

            @include md{
                margin: 25px 0 25px 0px;
            }
        }

        img{
            width: 130.7px;
            padding-right: 0.5rem;

            @include lg{
                width: 60px;
                padding-right: 1rem;
            }
        }
    }
}